/* link */
nav .active {
  color: whitesmoke !important;
  font-weight: bold;
  text-decoration: underline;
  background-color: #3e4955d6   !important;
}
/* .colorbtn{
  background-color: #f89e4a;
} */
/* home */
.videos {
 
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    /* width: 95%; */
    height: 700px;
   
  }
    /* #travel{
      max-width: 30%;
      max-height: 20%;
    } */
  
  .content{
    position: absolute;
    width: 60%;
    /* margin: 160px auto 0; */
    text-align: center;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 24px;
    color: white;
    /* text-shadow: 1px 1px 1px black; */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-family: sans-serif;
    text-transform: uppercase;
    
  }
  #tt { 
    color: rgb(173, 3, 3);
     font-family: "Great Vibes", cursive; 
     font-size: 20px; 
     line-height: 10px;
      font-weight: normal;
       margin-bottom: 0px; 
       margin-top: 40px;
        text-align: center;
         text-shadow: 0 1px 1px #07c700e7; 
      
        }
        #mm{
          color: rgb(173, 3, 3);
          font-family: "Great Vibes", cursive; 
          font-size: 20px; 
          line-height: 10px;
           font-weight: bold;
            margin-bottom: 0px; 
            margin-top: 40px;
             text-align: center;
             text-shadow: 0 1px 1px #07c700e7;
        }
  /* #pills-home-tab{ */
    /* background-color: rgba(0, 100, 0, 0.61); */
    /* background-color: #56b027fc; */
  /* } */
  
  #pills-disabled-tab:hover:active{
    background-color: rgb(255, 255, 255);
  }
  
  /* city */
  .card:hover img{
    transform: scale(1.1);
}
.card img{
    transition: 0.25s ease;
}
.card{
    overflow: hidden;
}

/* plages */


/* login */
/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ecf0f3;
} */

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 40px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #e9894c;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #f07325;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #f07325;
}

.wrapper a:hover {
    color: #d68756;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}
/* avatar text  */
/* 
.avatar-button {
    font-size: 1rem;
    text-align: center;
    overflow: visible;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  
  .avatar-text {
    align-items: center;
    color: #fff;
    display:block;
    background-color: #673ab7;
    font-size: 0.9rem;
    border-radius: 100%;
    vertical-align: middle;
    justify-content: center;
    padding: 0.7rem;
  }
  
  .avatar-button:focus {
    outline: .1em solid #141B38;
  } */
  .avatar {
    font-size: 16px;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #e9894c;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  #textavatar {
    /* content: attr(data-label); */
    font-family: 'Readex Pro',sans-serif;
    color: #ecf0f3;
    font-weight: bolder;
    font-size: 1.875em;
  }
  /* commmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
  /* CSS reset */
/* *,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
} */



/* Typography =======================*/

/* Headings */

/* Main heading for card's front cover */
.card-front__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

/* Main heading for inside page */
.inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .2rem;
}

.inside-page__heading--city,
.card-front__text-view--city { color: #e9894c  ; }

/* Front cover */

.card-front__tp { color: #fafbfa; }


/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: #333;
  /* overflow-y: scroll; */
 
}

/* Icons ===========================================*/

.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -.5rem;
  width: 3.25rem;
}


/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: flex;
  /* flex-wrap: wrap; */
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Card ============================================*/

/* Area to hold an individual card */
/* .card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
} */

/* A container to hold the flip card and the inside page */
.card-comment {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.card-front__tp--city {
  background: linear-gradient(
    to bottom,
    #3e4955d6,
    #e9894c  
  );
}


/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card-comment:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.card-comment:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card-comment:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}
.row{
  margin: 0;
  /* display: flex;
  justify-content: space-around; */
}
